.portfolioSection {
    background-color: white;
    padding-top: 2.75rem;
    padding-bottom: 2.75rem;
    .portfolioSectionContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            font-family: $heading-font;
            font-size: 2.25rem;
            display: block;
            width: 100%;
            color: black;
            @include lg {
                font-size: 4.75rem;
            }
        }
        h3 {
            font-family: $heading-font;
            font-size: 1.75rem;
            display: block;
            width: 100%;
            color: black;
            margin-bottom: 1rem;
            margin-top: 1rem;
            // text-decoration: underline;
            @include lg {
                font-size: 2.25rem;
            }
        }
        p {
            font-family: $body-font;
        }
        .portfolioSectionPhotosContainer {
            width: 100%;
            // display: flex;
            gap: 1rem; /* Espace entre les éléments */
            flex-wrap: wrap; /* Permet aux éléments de passer à la ligne */
            justify-content: space-between;
        }
    }
}