.modal {
    width: clamp(50%, 700px, 90%); /* Largeur dynamique */
    height: calc((clamp(50%, 700px, 90%) * 3112) / 3960);
    margin: auto;
    // padding: 0 2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .modalContainer {
        height: 100%;
        width: 100%;
        position: relative;
    }

    // Adaptation pour les écrans mobiles
    @media (max-width: 768px) { // Cible les écrans de type tablette et mobile
        width: 90%; /* Largeur adaptée pour mobile */
        height: calc((90vw * 3112) / 4096);// Adapte la hauteur selon le ratio 16:9
    }
}
