html,
body {
  padding: 0;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

* {
  box-sizing: border-box;
  -webkit-touch-callout: none; /* Désactive le menu contextuel sur iOS */
}

@media print {
  html, body {
     display: none;  /* hide whole page */
  }
}